<!DOCTYPE html>
<html>
<head>
    <title>WebSocket 채팅</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- CSS 파일 링크 -->
</head>
<body>
<div class="container">
    <h2>채팅방</h2>

    <button onclick="LogOut()">로그아웃</button>
</div>

<!-- JavaScript 파일 링크 등 필요한 리소스를 추가하세요 -->

<script src="/js/axios.js"></script>
<script>
    const config = {"Content-Type" : `application/json` };

    // 로그아웃 요청
    async function LogOut() {
        try {
            await axios.post('/api/v1/user/logout');
            window.location.href = '/';
        } catch (e) {
        }
    }

    function SignUp() {
        window.location.href = "/user/signup";
    }
</script>
</body>
</html>
