<!DOCTYPE html>
<html>
<head>
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- CSS 파일 링크 -->
</head>
<body>
<div class="container">
  <h2>회원가입</h2>

  <form action="/register" method="post">
    <div class="label-input">
      <label for="email">이메일</label>
      <input type="email" id="email" name="email" required>
      <button>중복확인</button>
    </div><br>

    <div class="label-input">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" required>
    </div><br>

    <div class="label-input">
      <label for="name">이름</label>
      <input type="name" id="name" name="name" required>
    </div><br>

    <input type="submit" value="회원가입"><br><br>
  </form>
</div>

<!-- CSS 파일 링크 등 필요한 리소스를 추가하세요 -->
</body>
</html>